##
# /etc/systemd/system/systemd-journal-remote.socket
# {{ ansible_managed }}

[Unit]
Description=Journal Remote Sink Socket

[Socket]
ListenStream={{ journald_server }}:{{ journald_port }}
FreeBind=true
BindIPv6Only=both
{% if journald_iface in ansible_interfaces %}
BindToDevice={{ journald_iface }}
{% endif %}

[Install]
WantedBy=sockets.target
